@import url(../../fonts/larken/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mr+Dafoe&display=swap");
:root {
  --larken-font: "Larken DEMO";
  --barlow-font: "Barlow Condensed", sans-serif;
  --dafoe-font: "Mr Dafoe", cursive;
  --base-font: 1rem;
  --primary: #C33130;
  --primary_hover: #AF2C2B;
  --secondary: #00833E;
  --secondary_hover: #007537;
  --text: #464646;
  --text_light: #B7B7B7;
  --dark: #212121;
  --light: #DDDBD4;
  --border: #EAEAEA;
  --background: #F4F1EA;
  --yellow: #FFCC19;
}

.color-primary {
  color: var(--primary) !important;
}

.color-primary-hover {
  color: var(--primary_hover) !important;
}

.color-secondary {
  color: var(--secondary) !important;
}

.color-secondary-hover {
  color: var(--secondary_hover) !important;
}

.color-text {
  color: var(--text) !important;
}

.color-text_light {
  color: var(--text_light) !important;
}

.color-dark {
  color: var(--dark) !important;
}

.color-light {
  color: var(--light) !important;
}

.color-border {
  color: var(--border) !important;
}

.color-yellow {
  color: var(--yellow) !important;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-light {
  background-color: var(--light);
}

.bg-background {
  background-color: var(--background);
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  font-style: normal;
  color: var(--dark);
  font-family: var(--larken-font);
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  counter-reset: my-sec-counter;
}

.page_wrapper {
  overflow: hidden;
  position: relative;
}

iframe {
  border: none;
}

a:focus,
a:active,
input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

embed,
object,
video {
  height: auto;
  max-width: 100%;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: middle;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
}

.image_wrap {
  overflow: hidden;
  border-radius: 10px;
}
.image_wrap img {
  border-radius: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  outline: 0;
  display: inline-block;
  text-decoration: none;
  transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}
a:active, a:focus, a:hover, a:visited {
  outline: 0;
  text-decoration: none;
}

.fix {
  overflow: hidden;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}
button:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: var(--primary);
  font-family: var(--larken-font);
  line-height: 1.2;
}

p {
  color: var(--dark);
  font-family: var(--larken-font);
  font-size: var(--base-font);
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

hr {
  opacity: 0.1;
  margin: 30px 0;
  background-color: var(--dark);
}

textarea {
  resize: none;
}

label.form-label {
  color: var(--dark);
  font-family: var(--larken-font);
  font-size: var(--base-font);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.fa {
  font-family: "Font Awesome 5 Brands";
}

.decoration_wrap {
  z-index: 1;
  position: relative;
}
.decoration_wrap .deco_item {
  z-index: -1;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px 30px;
}

.section {
  position: relative;
  padding: 60px 0;
}

.section_heading {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
.section_heading .heading_subtitle {
  margin-bottom: 0;
}
.section_heading .heading_subtitle span {
  color: var(--dark);
  font-family: var(--larken-font);
  font-size: var(--base-font);
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: capitalize;
}
.section_heading .heading_title {
  color: var(--primary);
  font-family: var(--larken-font);
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}

.diamond_section {
  height: 100vh;
  display: flex;
  align-items: center;
}
.diamond_section .diamond-links .diamond-links__item {
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
}
.diamond_section .diamond-links .diamond-links__item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.15, 1.1);
}
.diamond_section .diamond-links .diamond-links__item .diamond-links__item-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--border-radius-3, 30px);
  overflow: hidden;
  pointer-events: none;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
}
@media (min-width: 1200px) {
  .diamond_section .diamond-links .diamond-links__item .diamond-links__item-img {
    transform: rotate(45deg) scale(1.2);
  }
}
.diamond_section .diamond-links .diamond-links__item .diamond-links__item-img img {
  transform: rotate(-45deg) scale(1.37);
}
.diamond_section .diamond-links .diamond-links__item .diamond-links__item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  z-index: 1;
  gap: 10rem;
  text-align: center;
}
.diamond_section .diamond-links .diamond-links__item .diamond-links__item-content h3 {
  margin-bottom: auto;
  font-size: 2rem;
  color: var(--yellow);
  font-family: var(--dafoe-font);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 120%;
}
.diamond_section .diamond-links .diamond-links__item .diamond-links__item-content p {
  font-size: var(--base-font);
  color: var(--light);
  font-family: var(--barlow-font);
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s 0.25s;
}
.diamond_section .diamond-links .diamond-links__item:hover .diamond-links__item-img {
  transform: rotate(0deg) scale(1.15);
}
.diamond_section .diamond-links .diamond-links__item:hover .diamond-links__item-img img {
  transform: rotate(0deg) scale(1.25);
}
.diamond_section .diamond-links .diamond-links__item:hover .diamond-links__item-content p {
  opacity: 1;
}
.diamond_section .diamond-links .diamond-links__item.active .diamond-links__item-img {
  transform: rotate(0deg) scale(1.15);
}
.diamond_section .diamond-links .diamond-links__item.active .diamond-links__item-img img {
  transform: rotate(0deg) scale(1.25);
}
.diamond_section .diamond-links .diamond-links__item.active .diamond-links__item-content p {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */