@use "sass:map";

.diamond_section{
    height: 100vh;
    display: flex;
    align-items: center;
    .diamond-links{

        .diamond-links__item{
            cursor: pointer;
            transition : $transition_slow;
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transform: scale(1.15, 1.1);
            }

            .diamond-links__item-img{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: var(--border-radius-3, 30px);
                overflow: hidden;
                pointer-events: none;
                transition : $transition_slow;


                @media (min-width:1200px) {
                    transform: rotate(45deg) scale(1.20);
                }

                img{
                    transform: rotate(-45deg) scale(1.37);
                    
                }

            }

            .diamond-links__item-content{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 20px;
                z-index: 1;
                gap: 10rem;
                text-align: center;

                h3 {
                    margin-bottom: auto;
                    font-size: 2rem;
                    color: $yellow;
                    font-family: $dafoe-font;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: .2em;
                    line-height: 120%;
                }

                p{
                    font-size: $base-font;
                    color: $light;
                    font-family: $barlow-font ;
                    font-weight: 600;
                    text-transform: uppercase;
                    opacity: 0;
                    transition: opacity cubic-bezier(0.165, 0.84, 0.44, 1) .5s .25s;
                }
            }


            &:hover{
                .diamond-links__item-img{
                    transform: rotate(0deg) scale(1.15);
                    
                    img{
                        transform: rotate(0deg) scale(1.25);
                    }
                }
                .diamond-links__item-content{
                    p{
                        opacity: 1;
                    }
                }
            }
            &.active{
                .diamond-links__item-img{
                    transform: rotate(0deg) scale(1.15);
                    
                    img{
                        transform: rotate(0deg) scale(1.25);
                    }
                }
                .diamond-links__item-content{
                    p{
                        opacity: 1;
                    }
                }
            }
        }
    }

}

.product_section{
    .product-wrapper {
        
        background-color: #f4f1ea;
        padding: 70px 0px 60px;
        display: flex;
        // flex-direction: column;
        text-align: center;
        transition: all ease .35s;
        background: #fff;
        overflow: hidden;


        .product-category{
            position: relative;
            transition: all ease .35s;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 0 1px var(--border);

            .product-icon-top{
                position: absolute;
                top: calc(100% + -70px);
                left: 50%;
                transform: translate(-50%, -100%);
                width: 100%;
                transition: all ease .35s;

                svg{
                    width: 180px;
                }
            }
            .product-img{
                position: relative;
                transition: all ease .35s;
                overflow: hidden;

                a{
                    position: relative;
                    z-index: 2;

                    img{
                        height: auto;
                        max-width: 100%;
                        border: none;
                        border-radius: 0;
                        box-shadow: none;
                    }
                }
            }

            h6{
                font-size: 50px;
                text-transform: uppercase;
                line-height: 1.0714285714;
                font-weight: 700;
                color: $border;
                opacity: .3;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: left;
                transform: rotate(-30deg);
                z-index: 1;
                pointer-events: none;
                font-family: $barlow-font;
            }

            .decor-leaf {
                overflow: hidden;
                position: absolute;
                right: 10px;
                top: 10px;
                transform: translate(-40px, 40px);
                transition: all ease .35s;
                transition-delay: .3s;
                opacity: 0;
            }

            .decor-leaf-2 {
                position: absolute;
                bottom: 10px;
                left: 10px;
                transform: translate(40px, -40px);
                transition: all ease .35s;
                transition-delay: .3s;
                opacity: 0;
            }

            .product-icon{
                opacity: 0;
                min-height: 130px;

                svg {
                    max-width: 100%;
                    overflow: hidden;
                }
            }

            .product-content{
                transition: all ease .35s;
                opacity: 0;
                transform: translateY(20px);

                h4{
                    a{

                        font-size: 50px;
                        line-height: 1.25em;
                        font-family: $dafoe-font;
                        color: #fff;
                    }
                }
                .cat-total{
                    font-size: 18px;
                    line-height: 1.3888888889;
                    font-weight: 500;
                    color: #fff;
                    font-family: $barlow-font;
                }
            }

            &:hover{
                
                background-color : $yellow;
                .product-icon-top{
                    top: 0;
                    transform: translate(-50%, 0);

                    svg{
                        fill: $light !important;
                    }
                }
                .decor-leaf , .decor-leaf-2{
                    opacity: 1;
                    transform: translate(0);
                }

                .product-icon{
                    order: -1;

                    svg{
                        fill: #fff !important;
                    }
                }
                .product-content{
                    opacity: 1;
                    transform: translateY(0);
                } 
            }
        }

        
    }
}